/* @keyframes gradient {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
} */

.App {
  font-family: "Poppins" sans-serif;
  font-size: 16px;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    288deg,
    rgba(77, 172, 254) 0%,
    rgba(0, 242, 254, 1) 0%,
    rgba(12, 8, 129, 1) 18%,
    rgba(87, 55, 50, 1) 45%,
    rgba(107, 121, 9, 1) 59%,
    rgba(0, 212, 255, 1) 100%
  ); */

  background: linear-gradient(to right, #30cfd0, rgba(77, 172, 254));

  animation: gradient 15s ease infinite;
  color: #000;
}

.App-dark {
  background: linear-gradient(to right, #833ab4, #3a7bd5);
  animation: gradient 15s ease infinite;
}

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profilePic:hover {
  transform: scale(1.05);
}

.aboutmeContainer {
  animation: fadein 5s;
}
.full-screen-section {
  height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aboutme {
  animation: slidein 5s;
}

@keyframes slidein {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.in-view:hover {
  transform: scale(1.05);
}

.resumeDownload {
  animation: slidein 5s;
}

@keyframes slidein {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.resumeDownload:hover {
  transform: scale(1.05);
}

.bouncing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bouncing-text {
  animation: bounce 5s infinite linear;
  display: inline-block;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
    color: #fff;
  }
  50% {
    transform: translateX(-100%);
    color: #000;
  }
}

.project-btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.project-btn:hover {
  background-color: #fff;
  color: #007bff; /* Change text color on hover */
}
